 <div class="advantages-content">
   {% if img != blank %}
     <img src="{{ img | img_url:"12200x" }}"  />
    {% endif %}
    <h3 class="poppins-semibold">{{ advantages }}</h3>
</div>

{% schema %}
  {
    "name": "Advantages Item",
    "tag":null,
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Advantages Item"
      }
    ]
  }
{% endschema %}