{% liquid
  assign icon = block.settings.icon
%}
 <div class="advantages-content">
   {% if img != blank %}
     <img src="{{ icon | img_url:"1200x" }}"  />
    {% endif %}
    <h3 class="poppins-semibold">{{ advantages }}</h3>
</div>

{% schema %}
  {
    "name": "Advantages Item",
    "tag":null,
    "settings": [
      {
        "type": "image_picker",
        "id": "icon",
        "label": "Icon"
      }
    ],
    "presets": [
      {
        "name": "Advantages Item"
      }
    ]
  }
{% endschema %}