{% liquid
  assign icon = block.settings.icon
  assign iconContent = block.settings.iconContent
%}
 <div class="advantages-content">
   {% if icon != blank %}
     <img src="{{ icon | img_url:"1200x" }}"  />
    {% endif %}
    <h3 class="poppins-semibold">{{ iconContent }}</h3>
</div>

{% schema %}
  {
    "name": "Advantages Item",
    
    "settings": [
      {
        "type": "image_picker",
        "id": "icon",
        "label": "Icon"
      },
      {
        "type": "inline_richtext",
        "label": "Icon Content",
        "id": "iconContent"
      }
    ],
    "presets": [
      {
        "name": "Advantages Item"
      }
    ]
  }
{% endschema %}