<div>
  <p>Bundle Discounts Now Available</p>
  <a>Get Prepared Today!</a>
  <div>
    <img src="">
    <p></p>
  </div>
  
</div>

{% schema %}
  {
    "name": "Button",
    "settings": [],
    "presets": [
      {
        "name": "Button"
      }
    ]
  }
{% endschema %}