{% liquid
  assign top = block.settings.topText
  assign bottomText = block.settings.bottomText
%}
<div>
  <p>{{ top }}</p>
  <a>Get Prepared Today!</a>
 {% if bottomText != blank %}
   <div>
    <img src="{{ 'icon.png' | asset_url }}" width="15" height="15"  alt="Icon">
    <p>{{ bottomText }}</p>
  </div>
  {% endif %}
  
</div>

{% schema %}
  {
    "name": "Button",
    "settings": [
      {
        "type": "text",
        "label": "Top Text",
        "id": "topText"
      },
      {
        "type": "text",
        "label": "Bottom Text",
        "id": "bottomText"
      },
      {
        "type": "text",
        "label": "Button",
        "id": "buttonText"
      },
      
      
    ],
    "presets": [
      {
        "name": "Button"
      }
    ]
  }
{% endschema %}