{% liquid
  assign flex = block.settings.flex
  assign img = block.settings.img
  assign advantages = block.settings.advantages
  
%}

{% if flex == true %}
  
  {% assign display-flex = "flex" %}
  
{% endif %}

<div class="product-advantages {{ block.id }}">
 {% content_for 'blocks' %}
</div>

<style>
 .product-advantages{
    display:{{display-flex}}
  }
  .advantages-content img{
    width: 44px;
  }
  .advantages-content h3{
    font-size: 14px;
  }
  .product-advantages:last-child{
    border: none !important;
  }
</style>
{% schema %}
  {
    "name": "Product Advantages",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Product Advantages"
      }
    ]
  }
{% endschema %}