{% liquid
  assign flex = block.settings.flex
  
%}

{% if flex == true %}
  
  {% assign display-flex = "flex" %}
  
{% endif %}

<div class="product-advantages">
  <p>amar Sunar</p>
  <p>Bangla</p>
</div>

<style>
  .product-advantages{
    display:{{display-flex}}
  }
</style>
{% schema %}
  {
    "name": "Product Advantages",
    "settings": [
      {
        "type": "checkbox",
        "id": "flex",
        "label": "Flex",
        "default":false
      }
    ],
    "presets": [
      {
        "name": "Product Advantages"
      }
    ]
  }
{% endschema %}