{% liquid
  assign width = block.settings.width
%}
<div class="product-advantages {{ block.id }}">
 {% content_for 'blocks' %}
</div>

<style>
.product-advantages{
  display:flex;
  gap:15px;
}
.product-advantages:last-child{
  border-right:0;
}

</style>
{% schema %}
  {
    "name": "Product Advantages",
    "tag":null,
    "blocks": [
      {
        "type": "@theme"
      }
    ],
    "settings": [
      {
        "type": "range",
        "id": "width",
        "label": "Width",
        "unit": "%",
        "min": 0,
        "max": 100,
        "step": 1,
        "default":100
      }
    ],
    "presets": [
      {
        "name": "Product Advantages"
      }
    ]
  }
{% endschema %}