{% liquid
  assign flex = block.settings.flex
  assign img = block.settings.img
  
%}

{% if flex == true %}
  
  {% assign display-flex = "flex" %}
  
{% endif %}

<div class="product-advantages">
  <div class="content">
    <img src=""  />
  </div>
</div>

<style>
  .product-advantages{
    display:{{display-flex}}
  }
</style>
{% schema %}
  {
    "name": "Product Advantages",
    "settings": [
      {
        "type": "checkbox",
        "id": "flex",
        "label": "Display Flex",
        "default":false
      },
      {
        "type": "image_picker",
        "label": "Image",
        "id": "img"
      }
    ],
    "presets": [
      {
        "name": "Product Advantages"
      }
    ]
  }
{% endschema %}