
<div class="product-advantages {{ block.id }}">
 {% content_for 'blocks' %}
</div>

<style>
.product-advantages{
  display:flex;
}

</style>
{% schema %}
  {
    "name": "Product Advantages",
    "tag":null,
    "blocks": [
      {
        "type": "@theme"
      }
    ],
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Product Advantages"
      }
    ]
  }
{% endschema %}