{% liquid
  assign flex = block.settings.flex
  assign img = block.settings.img
  assign advantages = block.settings.advantages
  
%}

{% if flex == true %}
  
  {% assign display-flex = "flex" %}
  
{% endif %}

<div class="product-advantages {{ block.id }}">
 {% content_for 'blocks' %}
</div>

<style>
.product-advantages{
  display:flex;
}
.product-advantages:last-child{
  border-right: 0px solid black;
}
</style>
{% schema %}
  {
    "name": "Product Advantages",
    "tag":null,
    "blocks": [
      {
        "type": "@theme"
      }
    ],
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Product Advantages"
      }
    ]
  }
{% endschema %}