{% liquid
  assign flex = block.settings.flex
  
%}

{% if flex == true %}
  
  {% assign display-flex = "flex" %}
  
{% endif %}

<div>
  
</div>

{% schema %}
  {
    "name": "Product Advantages",
    "settings": [
      {
        "type": "checkbox",
        "id": "flex",
        "label": "Flex",
        "default":true
      }
    ],
    "presets": [
      {
        "name": "Product Advantages"
      }
    ]
  }
{% endschema %}