{% liquid
  assign redTitle = block.settings.redTitle
  assign title = block.settings.title
  assign red = block.settings.color
%}

<h2> <span class="red">{{ redTitle }}</span> {{ title }}</h2>

<style>
  .red{
    color:{{red}};
  }
</style>
{% schema %}
  {
    "name": "Block name",
    "settings": [
      {
        "type": "text",
        "label": "Title",
        "id": "redTitle"
      },
      {
        "type": "text",
        "label": "Title",
        "id": "title"
      },
      {
        "type": "color",
        "label": "Color",
        "id": "textColor",
        
      }
    ],
    "presets": [
      {
        "name": "Title"
      }
    ]
  }
{% endschema %}