{% liquid
  assign menus = section.settings.menu.links
%}
<div class="headerSection">
  <div class="container">
    <div class="logo"></div>
    <nav>
      <ul>
        {% for menu in menus %}
          <li><a href="{{ menu.url }}">{{ menu.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <div class="cart"></div>
  </div>
</div>
{% schema %}
  {
    "name": "Custom Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}
<style>
  .container{
    max-width:1300px;
    width:100%;
    margin:0 auto;
  }
</style>