<div class="headerSection">
  <div class="container">
    <div class="logo"></div>
    <nav></nav>
    <div class="cart"></div>
  </div>
</div>
{% schema %}
  {
    "name": "Custom Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}