{% liquid
  assign rating = section.settings.rating
%}


<div class="banner_section">
  <div class="banner_content">
    <div>
      <img src="{{  }}" >
    </div>
  </div>
  <div class="banner_img">
    
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type": "image_picker",
        "id": "rating",
        "label": "Rating"
      }
    ],
    "presets": [
      {
        "name": "Banner"
      }
    ]
  }
{% endschema %}