{% liquid
  assign variable_name = value
%}


<div class="banner_section">
  <div class="banner_content">
    <div>
      
    </div>
  </div>
  <div class="banner_img">
    
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets": [
      {
        "name": "Banner"
      }
    ]
  }
{% endschema %}