{% liquid
  assign rating = section.settings.rating
  assign ratingCount = section.settings.ratingCount
%}


<div class="banner_section">
  <div class="banner_content">
    <div>
     {% if rating != blank %}

        <img src="{{ rating | img_url:"1200x" }}" >
       
     {% endif %}
      <h3>{{ ratingCount }}</h3>
    </div>
  </div>
  <div class="banner_img">
    
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type": "image_picker",
        "id": "rating",
        "label": "Rating"
      },
      {
        "type": "richtext",
        "id": "ratingCount",
        "label": "Sub Title"
      }
    ],
    "presets": [
      {
        "name": "Banner"
      }
    ]
  }
{% endschema %}