{% liquid
  assign rating = section.settings.rating
  assign ratingCount = section.settings.ratingCount
  assign textstyle = section.settings.textstyle
%}


<div class="banner_section">
  <div class="banner_content">
    <div class="rating_container">
     {% if rating != blank %}

        <img src="{{ rating | img_url:"1200x" }}" >
       
     {% endif %}
      <h3 class="subtitle">{{ ratingCount }}</h3>
    </div>
  </div>
  <div class="banner_img">
    
  </div>
</div>

<style>
  .subtitle{
    font-family:{{textstyle}}
  }
  .rating_container{
}
</style>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type": "image_picker",
        "id": "rating",
        "label": "Rating"
      },
      {
        "type": "richtext",
        "id": "ratingCount",
        "label": "Sub Title"
      },
      {
        "type": "font_picker",
        "id": "textstyle",
        "label": "Font Family",
        "default": "poppins_n4"
      },
      {
        "type": "checkbox",
        "id": "ratingFlex",
        "label": "Display Flex",
        "default":false
      }

    ],
    "presets": [
      {
        "name": "Banner"
      }
    ]
  }
{% endschema %}