.container{
    max-width:1300px;
    width:100%;
    margin:0 auto;
    position:relative;
  }
 nav .menuPart {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: center;
}
nav .menuPart .menuItem{
  text-decoration:none;
  color:#000;
  display:block;
  padding:5px 10px;
  border-radius: 10px;
}
nav .menuPart .menuItem.active{
  background-color:;
  color:#d70000;
  
 
}
.menuItem.dropdown{
  /* position: relative; */
}
.menuItem.dropdown .dropdown{
  list-style:none;
}
.menuItem.dropdown svg{
  width:14px;
  transform: rotate(0deg);
   transition-duration:0.4s;
  
}
.menuItem.dropdown:hover svg{
  transform: rotate(180deg);
}
.menuItem.dropdown .dropdown {
    list-style: none;
    width: 100%;
    margin: 10px;
    position: absolute;
    transform: translateY(20px);
    opacity: 1;
    transition-duration:0.4s;
    border: 1px solid red;
    left:0;
    background-color: #fff;
    display:flex;
  justify-content: center;
}
.dropdownItem  {
   display:block;
}
.menuItem.dropdown .dropdownItem img {
    width: 150px;
    margin: 0 auto;
    display: block;
   
}
.menuItem.dropdown .megamenu {
    list-style: none;
    min-width: 300px;
    width: 100%;
    margin: 10px;
    position: absolute;
    transform: translateY(20px);
    opacity: 0;
    transition-duration:0.4s;
    left: 0;
    display:flex;
    flex-wrap:wrap;
}
.megamenuItem{
  flex-basis:33.33%;
}
.menuItem.dropdown:hover .dropdown, .menuItem.dropdown:hover .megamenuItem {
   transform: translateY(0px);
    opacity: 1;
}
.menuItem.dropdown .childItem {
    color: #000;
    text-decoration: none;
}
.menuItem.dropdown:hover .dropdown .childItem:hover{}
