

.banner_section{
  display:flex;
  justify-content:center;
  align-items:center;
}
.rating_container{
  display:flex;
  align-items:center;
  gap:5px;
  color:black;
}
.rating_container img{
  width: 98px;
  height: 18px;
}
.title{
  font-size:50px;
  margin:0;
  font-weight:700;
}